.container {
  max-width: 1600px;
  padding: 0 129px;
  margin: 0 auto;
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 992px;
    padding: 0 33px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 767px;
    padding: 0 39px;
  }
}

@media screen and (max-width: 575px) {
  .container {
    max-width: 575px;
    padding: 0 33px;
  }
}

@media screen and (max-width: 320px) {
  .container {
    max-width: 320px;
    padding: 0 15px;
  }
}
