@import "vars";

.header {
  padding: 55px 0 0;

  .header__inner {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header__logo {
    max-width: 106px;
    max-height: 54px;
    object-fit: contain;
  }

  .header__btn {
    margin: 0;
    display: inline-block;
    padding: 17px 51px 17px 63px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    border-radius: 5px;
    text-decoration: none;
    border: 2px solid $dark;
    box-sizing: border-box;
    border-radius: 5px;
    color: $black;
  }

  .header__btn:hover {
    background-color: $dark;
    color: $light;
  }

  .menu__btn {
    display: none;
  }

  .header__toggle {
    display: none;
  }
}
