@import "vars";

@media screen and (max-width: 992px) {
  .container {
    max-width: 992px;
    padding: 0 33px;
  }
  .header {
    margin: 0;
    padding: 46px 0 0;
    .header__img {
      max-width: 85px;
      max-height: 45px;
      margin: 0;
    }
  }

  @media screen and (max-width: 575px) {
    .container {
      max-width: 575px;
      padding: 0 33px;
    }
    .header {
      margin: 0;
      padding: 46px 0 0;
      .header__img {
        max-width: 85px;
        max-height: 45px;
        margin: 0;
      }

      .header__btn {
        display: none;
      }

      .header__burger {
        max-width: 42px;
        max-height: 24px;
      }

      .header__toggle {
        display: block;
        background-color: $purewhite;
        border: none;
        color: $black;
      }
    }

    .menu {
      position: absolute;
      display: block;
      flex-direction: column;
      width: 100%;
      min-height: 100vh;
      top: 0;
      left: 0;
      padding: 0;
      margin: 0;
      background-color: $light;
      z-index: 1;
      .menu-1 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        gap: 250px;
        width: 100%;
        padding: 20px 0 20px;
        border-bottom: 1px solid $accent;
        margin: 0 0 50px 0;

        .menu__brit {
          max-width: 89px;
          min-height: 45px;
        }

        .menu__x {
          max-width: 39px;
          min-height: 39px;
        }
      }

      .menu__item {
        padding: 30px;
        margin: 0;
        justify-content: start;
      }

      .menu__link {
        left: 0;
        padding: 0;
      }

      .menu__btn {
        margin: 60px 20px;
        display: inline-block;
        padding: 17px 100px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        border-radius: 5px;
        text-decoration: none;
        border: 2px solid $dark;
        box-sizing: border-box;
        color: $black;
      }
    }
    .hero {
      margin: 30px 0 0;
      .hero__img {
        padding: 0;
        margin: 0;
        max-width: 424px;
        max-height: 424px;
      }

      .hero__1 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .hero__2 {
          text-align: center;
          .hero__title {
            padding: 0;
            margin: 0;
            font-size: 34px;
            line-height: 45px;
          }
          .hero__title::before {
            display: none;
          }
          .hero__title > strong {
            padding: 0;
          }
          .hero__title > b {
            margin: 0;
          }

          .hero__text {
            padding: 0;
            margin: 20px 0 35px;
            font-size: 16px;
            line-height: 24px;
          }

          .hero__link {
            padding: 24px 101px;
            font-size: 18px;
            line-height: 27px;
            margin: 0;
          }
        }
      }
    }
    .skills {
      margin: 0;
      .section-title {
        margin: 0;
        padding: 0px 0 0px 80px;
        font-size: 30px;
        line-height: 80px;
      }
      .skills__list {
        margin: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 21px;

        .skills__speak {
          grid-column-start: 1;
          grid-row-start: 1;
          grid-row-end: 1;
          margin: 36px 0 0;
          width: 240px;
          min-height: 534px;
          .speak__blog {
            padding: 0;
            margin: 0;
            .speak__img {
              max-width: 185px;
              min-height: 185px;
              margin: 8px 38px 10px 38px;
            }
          }

          .speak__blog-2 {
            padding: 0 0 0 16px;

            .speak__title {
              font-size: 18px;
              line-height: 80px;
            }

            .skills__text {
              font-size: 13px;
              line-height: 20px;
            }
            .speak__btn {
              margin: 15px 0 45px;
              padding: 14px 43px;
              font-size: 12px;
              line-height: 18px;
            }
          }
        }

        .skills__writ {
          margin: 36px 0 0;
          max-width: 240px;
          max-height: 600px;
          .writ__blog {
            padding: 16px 42px 11px 44px;
            .writ__img {
              max-width: 182px;
              max-height: 182px;
            }
          }

          .writ__blog-2 {
            padding: 0 0 0 13px;

            .writ__title {
              padding: 0;
              margin: 0;
              font-size: 18px;
              line-height: 80px;
            }

            .writ__text {
              font-size: 12px;
              line-height: 18px;
            }

            .writ__btn {
              margin: 135px 0 0px;
              padding: 14px 43px;
              font-size: 14px;
              line-height: 21px;
            }
          }
        }
      }

      .skills__read {
        max-width: 240px;
        max-height: 534px;
        .read__blog {
          padding: 60px 25px 20px 29px;
          .read__img {
            max-width: 198px;
            max-height: 132px;
          }
        }

        .read__blog-2 {
          padding: 0 0 0 15px;

          .read__title {
            margin: 0;
            font-size: 18px;
            line-height: 80px;
          }

          .read__text {
            font-size: 12px;
            line-height: 18px;
          }

          .read__btn {
            margin: 70px 0 20px;
            padding: 14px 43px;
            font-size: 14px;
            line-height: 21px;
          }
        }
      }

      .skills__listen {
        margin: 0;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        max-width: 240px;
        min-height: 534px;
        display: flex;
        flex-wrap: wrap;
        .listen__blog {
          padding: 33px 29px 19px 29px;
          .listen__img {
            max-width: 206px;
            max-height: 137px;
          }
        }

        .listen__blog-2 {
          padding: 0 0 0 15px;

          .listen__title {
            margin: -60px 0 0;
            font-size: 18px;
            line-height: 80px;
          }

          .listen__text {
            font-size: 12px;
            line-height: 18px;
          }

          .listen__btn {
            margin: 50px 0 20px;
            padding: 14px 43px;
            font-size: 14px;
            line-height: 21px;
          }
        }
      }
    }
    .about {
      .section-title {
        margin: 0;
        padding: 50px 20px 24px;
        font-size: 24px;
        line-height: 80px;
      }

      .about__title-2 {
        display: block;
      }
      .about__blog {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;

        .about__img {
          padding: 0 80px 0;
          width: 352px;
          height: 352px;
        }

        .about__list {
          text-align: center;
          .about__text {
            margin: 0 10px;
            font-size: 13px;
            line-height: 20px;
          }

          .about__title {
            display: none;
          }
        }

        .about__menu {
          .about__li {
            padding: 0;
            margin: 0;
          }

          .about__li > strong {
            font-size: 24px;
            line-height: 80px;
            margin: 0;
          }

          .about__pad {
            padding: 0 50px;
          }

          .about__p {
            margin: -20px 0;
            font-size: 15px;
            line-height: 22px;
          }
        }
      }
    }

    .blog {
      .section-title {
        margin: 0;
        padding: 84px 30px 49px;
        font-size: 24px;
        line-height: 80px;
      }

      .pricing {
        margin: 0;
        padding: 0;
      }

      .blog__list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        .blog__item {
          width: 100%;
          text-align: center;
          padding: 0;
          margin: 0 0 50px;
          .blog__item-img {
            .blog__img {
              margin: 0;
              max-width: 291px;
            }
          }

          .blog__item-text {
            .blog__title {
              font-size: 24px;
              line-height: 28px;
              margin: 7px 0 30px;
            }
            .blog__leed {
              font-size: 14px;
              line-height: 21px;
              text-align: center;
            }
            .blog__price {
              font-size: 14px;
              line-height: 21px;
              text-align: center;
              padding: 5px 15px 5px 12px;
              margin: 31px 0 0;
            }

            .blog__price > strong {
              font-size: 22px;
              line-height: 33px;
            }
          }
        }
      }

      .blog__img-1 {
        margin: 72px 40px 0 40px;
      }
    }

    .contact {
      .section-title {
        margin: 0;
        padding: 72px 20px 50px;
        font-size: 24px;
        line-height: 80px;
      }
      .contact__blog {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .contact__img {
          width: 358px;
          height: 322px;
          margin: 0 23px 38px 44px;
        }

        .contact__list {
          margin: 0;
          padding: 0;
          .contact__title {
            display: none;
          }

          .contact__text {
            padding: 0 10px;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
          }

          .contact__form {
            .contact__in {
              padding: 0;
              margin: 31px 0 17px;
              width: 300px;
              height: 60px;
            }

            .contact__btn {
              margin: 0 0 0 -50px;
              padding: 18px 56px;
              font-size: 16px;
              line-height: 24px;
              border: none;
            }
          }
        }
      }
    }

    .footer {
      .footer__blog {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .footer__logo {
          padding: 20px 0 0 0;
          margin: 0;
          font-size: 30px;
          line-height: 45px;
        }

        .footer__text {
          margin: 0;
          padding: 30px 0 0 0;
          font-size: 12px;
          line-height: 18px;
        }
      }
    }
  }

  @media screen and (max-width: 320px) {
    .container {
      max-width: 320px;
      padding: 0 15px;
    }

    .header {
      margin: 0;
      padding: 46px 0 0;
      .header__img {
        max-width: 71px;
        max-height: 36px;
        margin: 0;
      }

      .header__btn {
        display: none;
      }

      .header__burger {
        max-width: 33.53px;
        max-height: 19px;
      }

      .header__toggle {
        display: block;
        background-color: $purewhite;
        border: none;
        color: $black;
      }
    }

    .menu {
      position: absolute;
      display: none;
      flex-direction: column;
      width: 100%;
      min-height: 100vh;
      top: 0;
      left: 0;
      padding: 0;
      margin: 0;
      background-color: $light;
      z-index: 1;
      .menu-1 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        gap: 180px;
        width: 100%;
        padding: 20px 0 20px;
        border-bottom: 1px solid $accent;
        margin: 0 0 50px 0;

        .menu__brit {
          max-width: 76px;
          min-height: 36px;
        }

        .menu__x {
          max-width: 34px;
          min-height: 34px;
        }
      }

      .menu__item {
        padding: 18px;
        margin: 0;
        justify-content: start;
      }

      .menu__link {
        left: 0;
        padding: 0;
      }

      .menu__btn {
        margin: 60px 10px;
        display: inline-block;
        padding: 17px 100px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        border-radius: 5px;
        text-decoration: none;
        border: 2px solid $dark;
        box-sizing: border-box;
        color: $black;
      }
    }
    .hero {
      margin: 30px 0 0;
      .hero__img {
        margin: 100pxpx;
        max-width: 299px;
        max-height: 299px;
      }

      .hero__1 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .hero__2 {
          text-align: center;
          .hero__title {
            padding: 0;
            margin: 0 35px;
            font-size: 24px;
            line-height: 36px;
          }
          .hero__title::before {
            display: none;
          }
          .hero__title > strong {
            padding: 0;
          }
          .hero__title > b {
            margin: 0 5px 0 0;
          }

          .hero__text {
            padding: 0;
            margin: 20px 0 35px;
            font-size: 13px;
            line-height: 21px;
          }

          .hero__link {
            padding: 18px 99px;
            font-size: 16px;
            line-height: 24px;
            margin: 0;
          }
        }
      }
    }

    .skills {
      .section-title {
        margin: 0;
        padding: 0px 123px 0px;
        font-size: 24px;
        line-height: 80px;
      }
      .skills__list {
        margin: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 21px;

        .skills__speak {
          margin: 36px 0 0;
          max-width: 290px;
          min-height: 600px;
          .speak__blog {
            padding: 0;
            margin: 0;
            .speak__img {
              max-width: 213px;
              max-height: 213px;
              margin: 8px 38px 10px 38px;
            }
          }

          .speak__blog-2 {
            padding: 0 0 0 16px;

            .speak__title {
              font-size: 18px;
              line-height: 80px;
            }

            .skills__text {
              font-size: 13px;
              line-height: 20px;
            }
            .speak__btn {
              margin: 15px 0 45px;
              padding: 14px 43px;
              font-size: 14px;
              line-height: 21px;
            }
          }
        }

        .skills__writ {
          max-width: 290px;
          min-height: 473px;
          .writ__blog {
            padding: 16px 42px 11px 44px;
            .writ__img {
              max-width: 204px;
              max-height: 204px;
            }
          }

          .writ__blog-2 {
            padding: 0 0 0 13px;

            .writ__title {
              padding: 0;
              margin: 0;
              font-size: 18px;
              line-height: 80px;
            }

            .writ__text {
              font-size: 13px;
              line-height: 20px;
            }

            .writ__btn {
              margin: 10px 0 45px;
              padding: 14px 43px;
              font-size: 14px;
              line-height: 21px;
            }
          }
        }
      }

      .skills__read {
        max-width: 290px;
        min-height: 473px;
        .read__blog {
          padding: 26px 25px 20px 29px;
          .read__img {
            max-width: 236px;
            max-height: 157px;
          }
        }

        .read__blog-2 {
          padding: 0 0 0 15px;

          .read__title {
            font-size: 18px;
            line-height: 80px;
          }

          .read__text {
            font-size: 13px;
            line-height: 20px;
          }

          .read__btn {
            margin: 20px 0 45px;
            padding: 14px 43px;
            font-size: 14px;
            line-height: 21px;
          }
        }
      }

      .skills__listen {
        margin: 0;
        max-width: 290px;
        min-height: 473px;
        display: flex;
        flex-wrap: wrap;
        .listen__blog {
          padding: 33px 29px 19px 29px;
          .listen__img {
            max-width: 232px;
            max-height: 154px;
          }
        }

        .listen__blog-2 {
          padding: 0 0 0 15px;

          .listen__title {
            margin: -60px 0 0;
            font-size: 18px;
            line-height: 80px;
          }

          .listen__text {
            font-size: 13px;
            line-height: 20px;
          }

          .listen__btn {
            margin: 15px 0 45px;
            padding: 14px 43px;
            font-size: 14px;
            line-height: 21px;
          }
        }
      }
    }
    .about {
      .section-title {
        margin: 0;
        padding: 50px 20px 24px;
        font-size: 24px;
        line-height: 80px;
      }
      .about__blog {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;

        .about__img {
          width: 283px;
          height: 283px;
        }

        .about__list {
          text-align: center;
          .about__text {
            margin: 0 10px;
            font-size: 13px;
            line-height: 20px;
          }

          .about__title {
            display: none;
          }
        }

        .about__menu {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          justify-content: center;
          text-align: center;

          .about__li {
            margin: 0 0 50px;
          }

          .about__li > strong {
            font-size: 24px;
            line-height: 80px;
            margin: 0;
          }

          .about__pad {
            padding: 0 50px;
          }

          .about__p {
            margin: -20px 0;
            font-size: 15px;
            line-height: 22px;
          }
        }
      }
    }

    .blog {
      .section-title {
        margin: 0;
        padding: 84px 30px 49px;
        font-size: 24px;
        line-height: 80px;
      }

      .pricing {
        margin: 0;
        padding: 0;
      }

      .blog__list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        .blog__item {
          width: 100%;
          text-align: center;
          padding: 0;
          margin: 0 0 50px;
          .blog__item-img {
            .blog__img {
              margin: 0;
              max-width: 248px;
              max-height: 248px;
            }
          }

          .blog__item-text {
            .blog__title {
              font-size: 18px;
              line-height: 28px;
              margin: 7px 0 30px;
            }
            .blog__leed {
              font-size: 13px;
              line-height: 20px;
              text-align: center;
            }
            .blog__price {
              font-size: 14px;
              line-height: 21px;
              text-align: center;
              padding: 5px 15px 5px 12px;
              margin: 31px 0 0;
            }

            .blog__price > strong {
              font-size: 18px;
              line-height: 27px;
            }
          }
        }
      }

      .blog__img-1 {
        margin: 72px 40px 0 40px;
      }
    }

    .contact {
      .section-title {
        margin: 0;
        padding: 72px 20px 50px;
        font-size: 24px;
        line-height: 80px;
      }
      .contact__blog {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .contact__img {
          width: 253px;
          height: 228px;
          margin: 0 23px 38px 44px;
        }

        .contact__list {
          margin: 0;
          padding: 0;
          .contact__title {
            display: none;
          }

          .contact__text {
            padding: 0 10px;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
          }

          .contact__form {
            .contact__in {
              padding: 0;
              margin: 31px 0 17px;
              width: 291px;
              height: 50px;
            }

            .contact__btn {
              padding: 20px 110px;
              font-size: 14px;
              line-height: 21px;
            }
          }
        }
      }
    }

    .footer {
      .footer__blog {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        .footer__logo {
          margin: 26px 100px 15px;
          width: 71px;
          height: 36px;
        }

        .footer__text {
          margin: 0;
          font-size: 11px;
          line-height: 16px;
        }
      }
    }
  }
}
