@import "vars";

.section-title {
  font-family: $main-font;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 80px;
  text-align: center;
  color: $black;
  padding: 60px 0 0 110px;
}
