@import "vars";

.section-title {
  font-family: $main-font;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 80px;
  text-align: center;
  color: $black;
}

@media screen and (max-width: 992px) {
  .section-title {
    font-size: 36px;
    line-height: 80px;
  }
}

@media screen and (max-width: 767px) {
  .section-title {
    font-size: 30px;
    line-height: 80px;
  }
}

@media screen and (max-width: 575px) {
  .section-title {
    font-size: 30px;
    line-height: 80px;
  }
}

@media screen and (max-width: 320px) {
  .section-title {
    font-size: 24px;
    line-height: 80px;
  }
}
